<div class="logo">
    <h1 class="titulo">Sensor</h1>
    <img class="logo-imagen" src="/assets/LogoUleam.jpg" alt="">
</div>
<h1 class="tittle">Últimos Datos</h1>
<div class="contenedor" >
    <div class="div-table id" >
        <iframe class="table" src="http://localhost:3000/d-solo/eaa56f52-d233-43ae-b9c6-38a98cb073d9/material-particulado-copy-copy?orgId=1&from=1694814937982&to=1694816106702&refresh=auto&theme=dark&panelId=8" width="450" height="200" frameborder="0"></iframe>
    </div>

    <div class="div-table fecha" >
        <iframe class="table" src="http://localhost:3000/d-solo/eaa56f52-d233-43ae-b9c6-38a98cb073d9/material-particulado-copy-copy?orgId=1&from=1693535594670&to=1696127594670&refresh=5s&theme=dark&panelId=12" width="450" height="200" frameborder="0"></iframe>
    </div>

    <div class="div-table div">
        <div class="info">
            <h3 class="titulo_info">Tabla Nivel ug/m3</h3> 

            <ul>
                <li>
                    <div class=" width circle verde"></div>
                    Bueno (0-50)
                </li>
                <li>
                    <div class="circle amarillo"></div>
                    Moderada (51-100)
                </li>
                <li>
                    <div class="circle naranja"></div>
                    Dañina Grupos Sensibles (101-150)
                </li>
                <li>
                    <div class="circle rojo"></div>
                    Dañina (151-200)
                </li>
                <li>
                    <div class="circle morado"></div>
                    Muy Dañina (201-300)
                </li>
                <li>
                    <div class="circle rojo-oscuro"></div>
                    Arriesgado (300+)
                </li>
            </ul>

        </div>
                
    </div>

    <div class="div-table gauge">
        <iframe class="table" src="http://localhost:3000/d-solo/eaa56f52-d233-43ae-b9c6-38a98cb073d9/material-particulado-copy-copy?orgId=1&from=1695311496404&to=1695333096404&refresh=auto&theme=dark&panelId=5" width="450" height="200" frameborder="0"></iframe>
    </div>
</div>

