<div class="logo">
    <h1 class="titulo">Inicio</h1>
    <img class="logo-imagen" src="/assets/LogoUleam.jpg" alt="">
</div>
<!-- <h1 class="tittle"></h1> -->
<div class="div-article">
    <main class="primera">
        <!-- <h2 class="tittle2">Proyecto </h2> -->
        <h2 class="tittle1 center">¿Qué es Material Particulado?</h2> 
        <p>MP significa material particulado (también llamado contaminación por 
            partículas): el término para una mezcla de partículas sólidas y gotas 
            líquidas que se encuentran en el aire. Algunas partículas, como el polvo, 
            la suciedad, el hollín, o el humo, son lo suficientemente grandes y 
            oscuras como para verlas a simple vista. Otras son tan pequeñas 
            que solo pueden detectarse mediante el uso de un microscopio electrónico. 
        </p>
        <p>Estas partículas vienen en muchos tamaños y formas, y pueden estar conformadas por cientos de diferentes químicos.
            Algunas se emiten directamente desde una fuente, como obras en construcción, caminos sin asfaltar, campos, chimeneas o incendios.                
            La mayoría de las partículas se forman en la atmósfera como resultado de reacciones complejas de químicos, como el dióxido 
            de azufre y los óxidos de nitrógeno, que son contaminantes emitidos por 
            centrales eléctricas, industrias y automóviles.
        </p>
    </main>

    <article class="segunda">
        <h3 class="tittle2 center">MP 2.5</h3>
        <p>Corresponde a partículas que son inhalables. El diámetro de este material 
        particulado puede ser de 2.5 micras o incluso más pequeño.</p>
    </article>

    <article class="tercera">
        <h3 class="tittle2 center"> MP 10</h3>
        <p>Corresponde a partículas que son inhalables. El diámetro de este 
        material particulado puede ser de 10 micras o incluso más pequeño.</p>
    </article>
    <div class="imagen">
        <img class="imagen2" src="assets/imagen.jpg" alt="Imagen Material Particulado">
    </div>
    

    <!-- <div class="imagen">
        <div class="imagen2">

        </div>
        <img class="imagen2" src="assets/imagen.jpg" alt="Imagen Material Particulado">
    </div> -->



</div>