<div class="logo">
    <h1 class="titulo">Datos</h1>
    <img class="logo-imagen" src="/assets/LogoUleam.jpg" alt="">
</div>
<h1 class="tittle">Tablas de Datos</h1>

<div class="div-boton" >

    <button class="boton" (click)="abrirCSV()">Abrir CSV</button>

    <button class="boton" (click)="abrirJSON()">Abrir JSON</button>

    <button class="boton" (click)="abrirXML()">Abrir XML</button>

</div>
    
<div class="table-contenedor">
    <iframe  class="table" src="http://localhost:3000/d-solo/eaa56f52-d233-43ae-b9c6-38a98cb073d9/material-particulado-copy-copy?orgId=1&refresh=auto&from=1695304059933&to=1695325659933&theme=light&panelId=1" frameborder="0"></iframe>
</div>