
<div class="logo">
    <h1 class="titulo">Contacto</h1>
    <img class="logo-imagen" src="/assets/LogoUleam.jpg" alt="">
</div>
<!-- <h1 class="tittle">d</h1> -->
<div class="div-contacto" >
    
    <div class="hero">  
            <div class="contenido">
                <h2 class="titu">Universidad Laica Eloy Alfaro De Manabí</h2>
                <h3 class="titu2">ULEAM</h3> 
            </div>      
    </div>

    <div class="autores" >
      <h2>Autores:</h2>
        <ul>
            <li>Luis Anthony Moreira Lucas</li>
            <li>Sanler Preciado Valverde</li>
        </ul>    
    </div>
    
</div>

