<div class="logo">
    <h1 class="titulo">Mapa</h1>
    <img class="logo-imagen" src="/assets/LogoUleam.jpg" alt="">
</div>
<h1 class="tittle">Mapa Uleam - Material Particulado</h1>
<div class="contenedor grid">  
    
    <div class="div-mapa">
        <h2 class="h2" >Mapa MP-2.5</h2>
        <iframe class="mapa" src="http://localhost:3000/d-solo/eaa56f52-d233-43ae-b9c6-38a98cb073d9/material-particulado-copy-copy?orgId=1&from=1695235174443&to=1695256774443&theme=dark&panelId=2" width="50%" height="600" frameborder="0"></iframe>
    </div>
    <div class="div-mapa">
        <h2 class="h2" >Mapa MP-10</h2>
        <iframe class="mapa" src="http://localhost:3000/d-solo/eaa56f52-d233-43ae-b9c6-38a98cb073d9/material-particulado-iot?orgId=1&from=1698267895208&to=1698274450595&refresh=5s&theme=dark&panelId=13" width="450" height="200" frameborder="0"></iframe>
    </div>
</div>