<div class="logo">
    <h1 class="titulo">Gráfica </h1>
    <img class="logo-imagen" src="/assets/LogoUleam.jpg" alt="">
</div>
<div class="contenedor grid">
    <div class="div-table" >
        <h2 class="div-table__titulo">Línea de Tiempo</h2>
        <iframe class="table" src="http://localhost:3000/d-solo/eaa56f52-d233-43ae-b9c6-38a98cb073d9/material-particulado-copy-copy?orgId=1&from=1694815802207&to=1695841802207&refresh=5s&panelId=9" width="450" height="200" frameborder="0"></iframe>
    </div>
</div>
