.tittle{
    display: flex;
    justify-content: flex-start;
    // margin-bottom: 0.5rem;
    // margin-left: -3rem;
    margin-bottom: 0.3rem;
    
}
.contenedor{
    height: 90%;
}
.div-table{
    height: 100%;
}
.div-table__titulo{
    margin-bottom: 0.7rem;
    font-size: 1.7rem;
    text-align: center;
}

.table{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}
.logo{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
}
@media (min-width:768px){
    .logo{
        margin-bottom: 0;
    }
}
.logo-imagen{
    // background-image: url(/assets/LogoUleam.jpg);
    position: absolute;
    top: -182%;
    right: 0;
    width: auto;
    height: 12rem;
}